In [8]:
import pandas as pd

df = pd.read_excel("/home/panshul/Desktop/Documents/Students list milan25.xlsx")
df.columns = ['hostel_name', 'email']
df  # Replace with your Excel file path

         hostel_name                      email
0         ARYABHATTA  BO21RESCH11006@iith.ac.in
1         ARYABHATTA  BO21RESCH11007@iith.ac.in
2         ARYABHATTA  ID21RESCH11019@iith.ac.in
3         ARYABHATTA  AI20RESCH11006@iith.ac.in
4         ARYABHATTA  AI23RESCH11004@iith.ac.in
...              ...                        ...
4882  VISWESWARAY\nA  CH23BTECH11042@iith.ac.in
4883  VISWESWARAY\nA   BD23BDES11003@iith.ac.in
4884  VISWESWARAY\nA   BD23BDES11014@iith.ac.in
4885  VISWESWARAY\nA  MS23BTECH11035@iith.ac.in
4886  VISWESWARAY\nA  CS24BTECH11065@iith.ac.in

[4887 rows x 2 columns]

In [13]:
unique_hostels = df['hostel_name'].unique()
unique_hostels
df_cleaned = df[~(df['email'].isna() | (df['email'].astype(str).str.strip() == ''))]

In [12]:
missing_email_count = df_cleaned['email'].isna().sum() + (df_cleaned['email'].astype(str).str.strip() == '').sum()
missing_email_count

np.int64(0)

In [14]:
df_cleaned.to_csv("students.csv", index=False)

In [10]:
missing_email_count = df['email'].isna().sum() + (df['email'].astype(str).str.strip() == '').sum()
missing_email_count

np.int64(11)

In [6]:
missing_email_rows = df[
    df['email'].isna() | (df['email'].astype(str).str.strip() == '')
]

# Print the row numbers (Excel-style → +2 if header exists)
print("Row numbers with missing email (0-based index):")
print(missing_email_rows.index.tolist())

# If you want Excel-style row numbers (1-based, including header line)
excel_rows = (missing_email_rows.index + 2).tolist()
print("\nExcel row numbers (including header line):")
print(excel_rows)

Row numbers with missing email (0-based index):
[159, 247, 258, 268, 272, 273, 315, 352, 356, 358, 387, 410, 411, 424, 450, 702, 1023, 1026, 1737, 1770, 1803, 1870, 2175, 2826, 3722, 4396]

Excel row numbers (including header line):
[161, 249, 260, 270, 274, 275, 317, 354, 358, 360, 389, 412, 413, 426, 452, 704, 1025, 1028, 1739, 1772, 1805, 1872, 2177, 2828, 3724, 4398]

In [ ]:
/home/panshul/Desktop/Documents/Students list milan25.xlsx